.box-card-suuorce {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 0 7px 0 #eaeff4;
    -moz-box-shadow: 0 0 7px 0 #eaeff4;
    -webkit-box-shadow: 0 0 7px 0 #eaeff4;
    position: relative;
    border: 1px solid #ecf0f4;
    background-color: #fff;
}

.box-decribe-course {
    width: 65%;
    margin-left: 40px;
}

.mt-60 {
    margin-top: 60px;
    margin-bottom: 80px;
}

.titel-course {
    font-weight: bold;
    font-size: 1.875rem;
    text-align: right;
    margin-bottom: 40px;
}

.bg-w {
    padding: 6px;
    border-radius: 6px;
}

.box-titel-link {
    display: flex;
    padding-top: 1rem;
    margin-right: 20px;
    padding-right: 1rem;
    justify-content: space-between;
    padding-left: 1rem;
}

.boox-link {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.boox-link span {
    margin-left: 20px;
}

.link-tatal {
    margin-right: 15px;
}

.box-titell {
    border-top: 1px solid gray;
    margin-top: 30px;
}

.text-parag {
    text-align: right;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 20px;
}

.img-page-cource {
    width: 100%;
}

.kol-box {
    width: 31%;
}

.box-price-like {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 20px;
    margin-left: 20px;
}

.bg-box-c {
    background: #64748b;
}

.box-price-like span {
    color: white;
    font-weight: 700;
    padding: 3px;
}

.icon-page-coursee i {
    color: #Facc15;
    margin-right: 4px;
}

.btn-cart {
    text-align: center;
    position: absolute;
    bottom: -100%;
    width: 100%;
    display: none;
    padding: 10px;
    background: #dee2e6;
    border: 1px solid #f0f0f0;
    padding-bottom: -30px;
    transform: translate3d(0, 0, 0);
    transition: bottom 0.4s ease-in-out;
}

.details__addBtn {
    width: 90%;
    text-align: center;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 4px;
    border: navajowhite;
    border-radius: 4px;
    background: #f5f7f9;
}

.course_content:hover .btn-cart {
    bottom: 15px;
    display: block;
    margin-top: 20%;
    position: relative;
}

@media(max-width:430px) {
    .authr_meta {
        display: flex;
        margin-top: -40px;
    }
}

@media(max-width:430px) {
    .img-course {
        width: 425px;
    }
}

@media(max-width:330px) {
    .img-course {
        width: 320px;
    }
}

@media(min-width:769px)and (max-width:1100px) {
    .box-decribe-course {
        width: 64%;
    }
}

@media(min-width:769px)and (max-width:1100px) {
    .kol-box {
        width: 31%;
    }
}

@media(max-width:769px) {
    .box-decribe-course {
        width: 100%;
        margin-left: 0px;
    }
}

@media(max-width:769px) {
    .kol-box.kol-boxx {
        width: 100%;
        margin-top: 50px;
    }
}

@media(max-width:380px) {
    .box-titel-link {
        display: flex;
        flex-direction: column;
        text-align: right;
    }
}

@media(max-width:380px) {
    .boox-link {
        display: flex;
        flex-direction: column;
        text-align: right;
    }
}

@media(max-width:380px) {
    .boox-link span {
        margin-right: 12px;
    }
}