.cart {
    margin: 2rem auto;
    justify-content: space-between;
}

.cart__summary {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
}

.summary__title {
    font-size: 1.2rem;
    font-weight: bold;
}

.summary__price {
    display: flex;
    align-items: center;
}

.summary__price span:nth-child(1) {
    font-size: 0.9rem;
    flex: 0.6;
}

.summary__price span:nth-child(2) {
    flex: 0.4;
    font-size: 1.2rem;
    font-weight: bold;
}

.summary__checkoutBtn {
    padding: 10px 17px;
    border: 1px solid gray;
    border-radius: 10px;
    background: #fff;
    color: gray;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

.summary__checkoutBtn:focus {
    outline: none;
    border: 1px solid gray;
}

.summary__checkoutBtn:hover {
    opacity: 0.75;
}

.cart__items {
    width: 70%;
}

@media(min-width:769px) {
    .cart {
        display: flex;
    }
}

@media(min-width:1100px) {
    .cart {
        display: flex;
        width: 1100px;
    }
}

@media(max-width:769px) {
    .cart__items {
        width: 100%;
    }
}

@media(min-width:1200px) {
    .cart__items {
        flex: 0.7;
    }
}

@media(max-width:1100px) {
    .cart__summary {
        width: 250px;
        margin-left: 20px;
    }
}

@media(max-width:769px) {
    .cart__summary {
        width: 90%;
        right: 30px;
        position: relative;
    }
}

@media(min-width:1200px) {
    .cart__summary {
        flex: 0.3;
    }
}